.container {
    background-color: #D6F7F8;
    height: 50vh;
    padding: 10px;
    display: flex;
}

.item {
    background-color: #5CE1E6;
    margin: 10px;
    font-size: 30px;
    flex-grow: 2;
}