.container {
    background-color: #D6F7F8;
    height: 50vh;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.item {
    background-color: #5CE1E6;
    margin: 5px;
    font-size: 30px;
}